.container {
  min-height: 100vh;
  min-width: 100vw;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.wrapper {
  width: 90vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  padding-top: calc(2rem + var(--nav-height));
}

.lvlSlct-container,
.leaderboard-container {
  width: 100%;
}

@media (min-width: 875px) {
  .container {
    align-items: center;
  }

  .wrapper {
    flex-direction: row;
    justify-content: space-around;

    padding-top: 0;
  }

  .leaderboard-container {
    align-self: flex-start;
  }

  .lvlSlct-container,
  .leaderboard-container {
    min-width: 13rem;
    max-width: 40vw;
    min-width: clamp(13rem, 40vw, 40vw);
  }
}
